a {
  text-decoration: none;
  color: $color-secondary;
}

.card {
  //! GUEST
  &.card-category {
    padding: 0rem;
    .card-body {
      padding: 0.25rem 1rem;
      .card-title {
        text-decoration: none;
        color: $color-secondary;
        font-size: 0.75rem;
      }
    }
  }
  &.card-product {
    padding: 0.25rem !important;
    .card-body {
      .card-title {
        font-weight: bold;
        text-align: center;
      }
    }
    .card-footer {
      padding: 0.2rem;
      display: flex;
      justify-content: space-evenly;
    }
  }
  //! ADMIN
  &.card-admin-product {
    padding: 0.35rem !important;

    .card-admin-product {
      padding: 0.2rem;
    }

    .card-body {
      padding: 0.2rem;
      a {
        text-decoration: none;
        color: $color-secondary;
        font-size: 0.75rem;
      }
      .card-admin-title-product {
        // text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    .card-footer {
      padding: 0.2rem;
      display: flex;
      justify-content: space-between;
    }

    .btn {
      margin: 0.1rem;
      padding: 0.25rem 0.2rem;
      font-size: 0.65rem !important;
    }
  }

  &.card-admin-user {
    padding: 0.2rem !important;

    .card-admin-user__header {
      padding: 0.25rem !important;
      &__title-name {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

//! product card
.product-card {
  text-align: center;
  border: 1px solid #e7e7e7;
}
.product-card .product-image {
  position: relative;
}
.product-card .product-image a.image {
  //! Link className="image"
  display: block;
}
.product-card .product-image img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
}
.product-card .product-image:hover img {
  transform: translate(10px, -10px);
}
.product-card .product-sale-label {
  color: #fff;
  background: #1abc9c;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 35px;
  width: 55px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  animation: bg-animate 5s infinite linear;
}

.product-card:hover .product-links li:nth-child(2) {
  transition: all 0.3s ease 0.15s;
}

.product-card .product-links li button {
  color: #fff;
  background-color: #00b894;
  font-size: 14px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  padding: 8px 10px;
  display: block;
  opacity: 0.9;
  transition: all 0.3s ease 0s;
  animation: bg-animate 5s infinite linear;
}
.product-card .product-links li button:hover {
  color: #fff;
  box-shadow: 0 0 0 3px #fff inset;
  opacity: 1;
}
.product-card .product-links li button i {
  margin: 0 5px 0 0;
}
.product-card .product-content {
  padding: 15px 0 5px;
}
.product-card .title {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 10px 14px;
  margin: 0 0 7px;
  border-bottom: 1px solid #dfe5e9;
  //! one line and three point
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-card .title a {
  color: #000;
  transition: all 0.3s ease 0s;
}

.product-card .price span {
  color: #999;
  text-decoration: line-through;
  margin: 0 3px 0 0;
}

.product-card {
  .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0; //! opacity 0
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    left: 20px;
    transition: all 0.3s ease 0s;

    li {
      margin: 0 0 5px;
      opacity: 0;
      transform: translateX(-100%);
      transition: all 0.3s ease 0s;

      //! li active
      // &.active {
      opacity: 1;
      transform: translateX(0);
      // }
    }
  }

  .price {
    // color: #1abc9c;
    font-size: 20px;
    font-weight: 400;
  }

  &:hover {
    .product-links {
      opacity: 1;

      li {
        //! the button appear
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  //! active with card when click addToCart
  &.sold {
    .product-links {
      opacity: 1;
      li {
        button {
          background-color: #0984e3;
          animation: none;
          &.btn-disable {
            background-color: $color-secondary;
          }
        }
      }
    }
  }
  &.sold-out {
    .product-links {
      opacity: 1;
      li {
        button {
          border: 3px solid #c60000;
          color: #c60000;
          background-color: #f4f4f4;
          animation: none;
          &.btn-buy-now {
            opacity: 0;
          }
        }
      }
    }
  }
}

@keyframes bg-animate {
  0% {
    background-color: #00b894;
  }
  20% {
    background-color: #00cec9;
  }
  40% {
    background-color: #0984e3;
  }
  60% {
    background-color: #6c5ce7;
  }
  80% {
    background-color: #e84393;
  }
  100% {
    background-color: #00b894;
  }
}
@media screen and (max-width: 1200px) {
  .product-card {
    margin: 0 0 30px;
  }
}
