nav {
  &.navbar {
    background-color: $color-foxv-01 !important;
    border-bottom: 2px solid $color-foxv-02;
  }
  .nav-dashboard {
    background-color: $color-secondary-light;
  }
}

.admin-nav {
  a.active {
    color: rgb(65, 44, 16) ;
    border-left: 5px solid rgb(65, 44, 16) ;
    background: rgb(255, 196, 112);
  }
}
