@font-face {
  font-family: "SVN-Poppins";
  src: url("../public/assets/fonts/SVN-Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "SVN-Poppins", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

* {
  --bs-light: #ffffff;
  --bs-dark: #f5f5f5;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.25rem;
}
.navbar .navbar-brand {
  --bs-navbar-brand-padding-x: 1.25rem;
  --bs-navbar-brand-padding-y: 0.25rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
}
.navbar .navbar-nav .nav-link {
  --bs-nav-link-padding-x: 0.5rem;
  --bs-nav-link-padding-y: 0.25rem;
}

.navbar {
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  border-bottom: 2px solid var(--bs-dark);
  background-color: var(--bs-light) !important;
}
.navbar .navbar-brand img {
  padding: var(--bs-navbar-brand-padding-y) var(--bs-navbar-brand-padding-x);
  width: 7.5rem;
}
.navbar .navbar-nav .nav-link {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
}

.breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #2c3e50;
}
.breadcrumb .breadcrumb-item.active a {
  font-weight: bold;
}

h1 {
  font-size: 1.4rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.card-main {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.card-main .card-line-top {
  background-color: #2c3e50;
  height: 10px;
}

.form-group-name {
  grid-area: name;
}

.form-group-description {
  grid-area: description;
}

.form-group-category {
  grid-area: category;
}

.form-group-subcategories {
  grid-area: subcategories;
}

.form-group-price {
  grid-area: price;
}

.form-group-shipping {
  grid-area: shipping;
}

.form-group-quantity {
  grid-area: quantity;
}

.form-group-color {
  grid-area: color;
}

.form-group-brand {
  grid-area: brand;
}

.form-group-images {
  grid-area: images;
}

.btn-submit {
  grid-area: btn-submit;
}

.form-product {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-areas: "name" "description" "category" "subcategories" "price" "shipping" "quantity" "color" "brand" "btn-submit" "images";
}
@media screen and (min-width: 768px) {
  .form-product {
    grid-template-areas: "name images" "description images" "category images" "subcategories images" "price images" "shipping images" "quantity images" "color images" "brand images" "btn-submit .";
  }
}
@media screen and (min-width: 992px) {
  .form-product {
    grid-column-gap: 5rem;
  }
}
.form-image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .form-image {
    width: 300px;
  }
}
@media screen and (min-width: 992px) {
  .form-image {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .form-image {
    width: 450px;
  }
}
.form-image .image-main {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 250px;
  width: 100%;
  justify-content: center;
  margin: 1rem;
  position: relative;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  background-color: rgb(254, 254, 254);
}
.form-image .image-main .image-body {
  object-fit: cover;
}
.form-image .image-main .image-header {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}
.form-image .image-main:hover .image-header {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .form-image .image-main {
    height: 350px;
  }
}
@media screen and (min-width: 992px) {
  .form-image .image-main {
    height: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-image .image-main {
    height: 550px;
  }
}
.form-image .image-slides {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  overflow: scroll;
  white-space: nowrap;
  overflow-y: hidden;
}
.form-image .image-slides .image-slide {
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
  background-color: rgb(254, 254, 254);
  margin-right: 1rem;
  cursor: pointer;
}
.form-image .image-slides .image-slide img {
  width: 75px;
}
.form-image .image-slides .image-slide.btn-add {
  max-width: 75px;
  background-color: #f4a866;
  font-weight: bold;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .form-image .image-slides .image-slide img {
    width: 50px;
  }
}
@media screen and (min-width: 992px) {
  .form-image .image-slides .image-slide img {
    width: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .form-image .image-slides .image-slide img {
    width: 70px;
  }
}
.screen-main {
  max-width: 1400px;
}

.form-group .field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
}
.form-group .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
}
.form-group .field .btn-show {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #727272;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.8em;
}
.form-group .form-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

main {
  min-height: 80vh;
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.loader-container {
  display: flex;
  justify-content: center;
}
.loader-container .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-container .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.loader-container .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #343a40;
  margin: -4px 0 0 -4px;
}
.loader-container .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader-container .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loader-container .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader-container .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loader-container .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader-container .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loader-container .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader-container .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loader-container .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader-container .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loader-container .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader-container .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loader-container .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader-container .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loader-container .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.loader-container .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  border: 1px solid rgb(214, 216, 218);
  border-radius: 6px;
}
.tags-input:focus-within {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(49, 49, 49, 0.25);
}
.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.tags-input input:focus {
  outline: transparent;
}

.form-group .form-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #e74c3c;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c3e50;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #bfd8e8;
}
.tag .tag-title {
  margin-top: 3px;
}
.tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}
nav.navbar {
  background-color: #f9d7b8 !important;
  border-bottom: 2px solid #f7c395;
}
nav .nav-dashboard {
  background-color: #bfd8e8;
}

.admin-nav a.active {
  color: rgb(65, 44, 16);
  border-left: 5px solid rgb(65, 44, 16);
  background: rgb(255, 196, 112);
}

a {
  text-decoration: none;
  color: #2c3e50;
}

.card.card-category {
  padding: 0rem;
}
.card.card-category .card-body {
  padding: 0.25rem 1rem;
}
.card.card-category .card-body .card-title {
  text-decoration: none;
  color: #2c3e50;
  font-size: 0.75rem;
}
.card.card-product {
  padding: 0.25rem !important;
}
.card.card-product .card-body .card-title {
  font-weight: bold;
  text-align: center;
}
.card.card-product .card-footer {
  padding: 0.2rem;
  display: flex;
  justify-content: space-evenly;
}
.card.card-admin-product {
  padding: 0.35rem !important;
}
.card.card-admin-product .card-admin-product {
  padding: 0.2rem;
}
.card.card-admin-product .card-body {
  padding: 0.2rem;
}
.card.card-admin-product .card-body a {
  text-decoration: none;
  color: #2c3e50;
  font-size: 0.75rem;
}
.card.card-admin-product .card-body .card-admin-title-product {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.card.card-admin-product .card-footer {
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.card.card-admin-product .btn {
  margin: 0.1rem;
  padding: 0.25rem 0.2rem;
  font-size: 0.65rem !important;
}
.card.card-admin-user {
  padding: 0.2rem !important;
}
.card.card-admin-user .card-admin-user__header {
  padding: 0.25rem !important;
}
.card.card-admin-user .card-admin-user__header__title-name {
  display: flex;
  justify-content: space-between;
}

.product-card {
  text-align: center;
  border: 1px solid #e7e7e7;
}

.product-card .product-image {
  position: relative;
}

.product-card .product-image a.image {
  display: block;
}

.product-card .product-image img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
}

.product-card .product-image:hover img {
  transform: translate(10px, -10px);
}

.product-card .product-sale-label {
  color: #fff;
  background: #1abc9c;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 35px;
  width: 55px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  animation: bg-animate 5s infinite linear;
}

.product-card:hover .product-links li:nth-child(2) {
  transition: all 0.3s ease 0.15s;
}

.product-card .product-links li button {
  color: #fff;
  background-color: #00b894;
  font-size: 14px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  padding: 8px 10px;
  display: block;
  opacity: 0.9;
  transition: all 0.3s ease 0s;
  animation: bg-animate 5s infinite linear;
}

.product-card .product-links li button:hover {
  color: #fff;
  box-shadow: 0 0 0 3px #fff inset;
  opacity: 1;
}

.product-card .product-links li button i {
  margin: 0 5px 0 0;
}

.product-card .product-content {
  padding: 15px 0 5px;
}

.product-card .title {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 10px 14px;
  margin: 0 0 7px;
  border-bottom: 1px solid #dfe5e9;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-card .title a {
  color: #000;
  transition: all 0.3s ease 0s;
}

.product-card .price span {
  color: #999;
  text-decoration: line-through;
  margin: 0 3px 0 0;
}

.product-card .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  bottom: 15px;
  left: 20px;
  transition: all 0.3s ease 0s;
}
.product-card .product-links li {
  margin: 0 0 5px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease 0s;
  opacity: 1;
  transform: translateX(0);
}
.product-card .price {
  font-size: 20px;
  font-weight: 400;
}
.product-card:hover .product-links {
  opacity: 1;
}
.product-card:hover .product-links li {
  opacity: 1;
  transform: translateX(0);
}
.product-card.sold .product-links {
  opacity: 1;
}
.product-card.sold .product-links li button {
  background-color: #0984e3;
  animation: none;
}
.product-card.sold .product-links li button.btn-disable {
  background-color: #2c3e50;
}
.product-card.sold-out .product-links {
  opacity: 1;
}
.product-card.sold-out .product-links li button {
  border: 3px solid #c60000;
  color: #c60000;
  background-color: #f4f4f4;
  animation: none;
}
.product-card.sold-out .product-links li button.btn-buy-now {
  opacity: 0;
}

@keyframes bg-animate {
  0% {
    background-color: #00b894;
  }
  20% {
    background-color: #00cec9;
  }
  40% {
    background-color: #0984e3;
  }
  60% {
    background-color: #6c5ce7;
  }
  80% {
    background-color: #e84393;
  }
  100% {
    background-color: #00b894;
  }
}
@media screen and (max-width: 1200px) {
  .product-card {
    margin: 0 0 30px;
  }
}
.jumbotron {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  background-color: #fbe4d0;
}

.orders-badge {
  position: relative;
}
.orders-badge[count]::after {
  content: attr(count);
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.7em;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: text-bottom;
  line-height: 18px;
  border-radius: 50%;
}

.toolbar {
  min-height: 100vh;
  border-right: 2px solid #2c3e50;
  padding: 25px;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.btn-toolbar {
  width: 100%;
}
.btn-toolbar__group {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #f9d7b8;
  border-top: 1px solid #f4a866;
}

.bg-item {
  background-color: #ebf5fb;
  border-radius: 8px;
}

.table thead th,
.table td {
  border: none;
}

.table tbody td:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.table tbody td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#spacing-row {
  height: 10px;
}

@media (max-width: 575px) {
  .container {
    width: 125%;
    padding: 20px 10px;
  }
}
.btn-EllipsisV {
  width: 2rem;
  height: 2rem;
  border: solid white 3px;
}
.btn-EllipsisV:hover {
  border: solid white 1px;
  background-color: white;
}

.back-to-top-btn {
  z-index: 250;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 25%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  pointer-events: none;
  opacity: 0;
  background-color: #f4a866;
  border: none;
  cursor: pointer;
}

.back-to-top-btn--visible {
  pointer-events: all;
  opacity: 1;
}

.back-to-top-btn svg {
  font-size: 23px;
}

.control-quantity .btn:disabled,
.control-quantity .btn.disabled,
.control-quantity fieldset:disabled .btn {
  cursor: pointer;
  pointer-events: visible;
}

.gallery-wrap .img-product-main-wrap {
  margin-bottom: 10px;
  border-radius: 0.37rem;
  overflow: hidden;
  background-color: #fff;
}
.gallery-wrap .thumbs-wrap {
  text-align: center;
  margin-bottom: 20px;
}
.gallery-wrap .thumbs-wrap .item-thumb {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 3px;
  display: inline-block;
  overflow: hidden;
}
.gallery-wrap .thumbs-wrap .item-thumb img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  cursor: zoom-in;
}
.gallery-wrap .thumbs-wrap .item-thumb img:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  cursor: zoom-in;
}

.card .card-id {
  text-transform: uppercase;
}
.card .card-price {
  font-weight: 600;
  color: #212529;
}

/*# sourceMappingURL=main.css.map */
